{{!-- login - select one of accounts available (no password)  --}}
<style>
	#content {
		margin-top: 100px;
		margin-bottom: 25px;
	}
</style>
<div class="ui main text relaxed container" id="content">
	<div class="ui card">
  		<div class="content">
    		<div class="header">Login</div>
			Use address as login (begining with <u>0x</u>). Password is set at first login.
  		</div>
  		<div class="content">
			<div class="ui input">
		  		<input type="text" placeholder="Login" id="login">
			</div>
			<div class="ui input">
		  		<input type="password" placeholder="Password" id="password">
			</div>
  		</div>
  	<div class="extra content">
    	<button class="ui button" id="login-button">Login</button>
  	</div>
</div>
